-- laptop
-- monitor1: desc:AccuScene Corporation Ltd ASL 4K 0x04867576
-- monitor2: desc:Dell Inc. DELL U2412M YPPY068M20LS
{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- $monitor1 := index .MonitorsByTag "monitor1" -}}
{{- $monitor2 := index .MonitorsByTag "monitor2" }}

-- Laptop monitor: disable if lid is closed
{{if isLidClosed}}
hl.monitor({ output = "{{$laptop.Name}}", disabled = true })
hl.monitor({ output = "desc:{{$monitor2.Description}}", mode = "1920x1200@60", position = "0x0", scale = "1" })
hl.monitor({ output = "desc:{{$monitor1.Description}}", mode = "1920x1200@60", position = "1920x0", scale = "1" })
{{else}}
hl.monitor({ output = "{{$laptop.Name}}", mode = "{{.default_res}}@{{.refresh_rate_low}}", position = "0x0", scale = "1" })
hl.monitor({ output = "desc:{{$monitor2.Description}}", mode = "1920x1200@60", position = "1920x0", scale = "1" })
hl.monitor({ output = "desc:{{$monitor1.Description}}", mode = "1920x1200@60", position = "3840x0", scale = "1" })
{{end}}
