# laptop
# monitor1: desc:AccuScene Corporation Ltd ASL 4K 0x04867576
# monitor2: desc:Dell Inc. DELL U2412M YPPY068M20LS
{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- $monitor1 := index .MonitorsByTag "monitor1" -}}
{{- $monitor2 := index .MonitorsByTag "monitor2" }}

# Laptop monitor: disable if lid is closed
{{if isLidClosed}}
monitor={{$laptop.Name}},disable
monitor=desc:{{$monitor2.Description}},1920x1200@60,0x0,1.0,transform,0,vrr,0
monitor=desc:{{$monitor1.Description}},1920x1200@60,1920x0,1.0,transform,0,vrr,0
{{else}}
monitor = {{$laptop.Name}},{{.default_res}}@{{.refresh_rate_low}},0x0,{{.default_scale}}
monitor=desc:{{$monitor2.Description}},1920x1200@60,1920x0,1.0,transform,0,vrr,0
monitor=desc:{{$monitor1.Description}},1920x1200@60,3840x0,1.0,transform,0,vrr,0
{{end}}
