-- configuration for using with work super widescreen
-- laptop placed to the LEFT
-- - auto-disable laptop screen if lid closed

{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- $monitor1 := index .MonitorsByTag "monitor1" }}

-- isable laptop screen, use external only
{{if isLidClosed}}
hl.monitor({ output = "{{$laptop.Name}}", disabled = true })
{{else}}
hl.monitor({ output = "{{$laptop.Name}}", mode = "{{.default_res}}@{{.refresh_rate_low}}", position = "0x0", scale = "1" })
{{end}}
{{- if $monitor1 }}
hl.monitor({ output = "desc:{{$monitor1.Description}}", mode = "preferred", position = "auto-right", scale = "{{.default_scale}}" })
{{- end }}

