#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "black", bg: "blue", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "green", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "blue"),
    borders_style: (fg: "blue"),
    highlight_border_style: (fg: "blue"),
    symbols: (song: "󰝚 ", dir: " ", marker: "* ", ellipsis: "..."),
    progress_bar: (
        symbols: ["█", "🭬", "█"],
        track_style: (fg: "black"),
        elapsed_style: (fg: "blue"),
        thumb_style: (fg: "blue", bg: "black"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "blue"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "44%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("--"), style: (fg: "white"))
            ),
            width: "16%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "10%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "3",
                pane: Pane(Header),
            ),
            (
                size: "1",
                pane: Pane(ProgressBar),
            ),
            (
                size: "100%",
                borders: "TOP",
                pane: Pane(TabContent),
            ),
            (
                size: "3",
                pane: Pane(Tabs),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "green", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "  ", paused_label: "  ", stopped_label: "  "))), style: (fg: "green", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "green", modifiers: "Bold"))
                ],
                center: [
                    (kind: Text("[ "), style: (fg: "green", modifiers: "Bold")),
                    (kind: Property(Song(Artist)), style: (fg: "green", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "green", modifiers: "Bold"))
                    ),
                    (kind: Group([
                        (kind: Text(" // "), style: (fg: "green")),
                        (kind: Property(Song(Album)), style: (fg: "green")),
                    ])),
                    (kind: Text(" ]"), style: (fg: "green", modifiers: "Bold")),
                ],
                right: [
                    (kind: Text("[ Volume: "), style: (fg: "white", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "white", modifiers: "Bold")),
                    (kind: Text("% ]"), style: (fg: "white", modifiers: "Bold"))
                    //(kind: Text("[ "), style: (fg: "white")),
                    //(kind: Property(Widget(Volume)), style: (fg: "white")),
                    //(kind: Text(" ]"), style: (fg: "white"))
                ]
            ),
            (
                left: [
                    (kind: Text("[ ")),
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" ]")),
                ],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Property(Song(Filename)), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("[ "),style: (fg: "white")),
                    (kind: Property(Status(RepeatV2(
                                    on_label: "", off_label: "",
                                    on_style: (fg: "white", modifiers: "Bold"), off_style: (fg: "dark_gray", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "dark_gray")),
                    (kind: Property(Status(RandomV2(
                                    on_label: "", off_label: "",
                                    on_style: (fg: "white", modifiers: "Bold"), off_style: (fg: "dark_gray", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "dark_gray")),
                    (kind: Property(Status(ConsumeV2(
                                    on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯󰇊",
                                    on_style: (fg: "white", modifiers: "Bold"), off_style: (fg: "dark_gray", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "dark_gray")),
                    (kind: Property(Status(SingleV2(
                                    on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
                                    on_style: (fg: "white", modifiers: "Bold"), off_style: (fg: "dark_gray", modifiers: "Bold"))))),
                    (kind: Text(" ]"),style: (fg: "white")),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)

