#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: Some("metalduckling"),
    cache_dir: None,
    enable_config_hot_reload: true,
    enable_mouse: true,

    on_song_change: None,
    keep_state_on_song_change: true,
    select_current_song_on_change: true,
    center_current_song_on_change: true,

    volume_step: 5,
    max_fps: 30,
    scrolloff: 5,
    wrap_navigation: true,
    browser_song_sort: [Disc, Track, Artist, Title], // default
    directories_sort: SortFormat(group_by_type: true, reverse: false), // default
    status_update_interval_ms: 1000, // default
    rewind_to_start_sec: None, // default

    lyrics_dir: Some("/data/music"),
    default_album_art_path: None,

    album_art: (
        method: Auto,
        max_size_px: (width: 400, height: 400),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),

    cava: (
        framerate: 60, // default 60
        autosens: true, // default true
        sensitivity: 100, // default 100
        lower_cutoff_freq: 50, // not passed to cava if not provided
        higher_cutoff_freq: 10000, // not passed to cava if not provided
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
        smoothing: (
            noise_reduction: 77, // default 77
            monstercat: false, // default false
            waves: false, // default false
        ),
        // this is a list of floating point numbers thats directly passed to cava
        // they are passed in order that they are defined
        eq: []
    ),

    keybinds: (
        clear: true,
        global: {
            "~":       ShowHelp,
            "?":       ShowHelp,
            ":":       CommandMode,
            "q":       Quit,
            "s":       Stop,
            "p":       TogglePause,
            ",":       VolumeDown,
            ".":       VolumeUp,
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,
            "gt":      NextTab,
            "gT":      PreviousTab,
            "1":       SwitchToTab("[home]"),
            "2":       SwitchToTab("[playlists]"),
            "3":       SwitchToTab("[browse]"),
            "4":       SwitchToTab("[artists]"),
            "5":       SwitchToTab("[search]"),
            ">":       NextTrack,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "b":       SeekBack,
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "v":       ToggleSingleOnOff, // skip oneshot modes
            "I":       ShowCurrentSongInfo,
            "<C-U>":   Rescan,
        },
        navigation: {
            // move cursor
            "k":         Up,
            "j":         Down,
            "h":         Left,
            "l":         Right,
            "<Up>":      Up,
            "<Down>":    Down,
            "<Left>":    Left,
            "<Right>":   Right,
            "gg":        Top,
            "G":         Bottom,
            // move half a screen up or down
            "<C-d>":     DownHalf,
            "<C-u>":     UpHalf,
            // focus pane in direction
            "<C-k>":     PaneUp,
            "<C-j>":     PaneDown,
            "<C-h>":     PaneLeft,
            "<C-l>":     PaneRight,
            // move items up and down (e.g. in a queue)
            "J":         MoveDown,
            "K":         MoveUp,
            // searching
            "/":         EnterSearch,
            "n":         NextResult,
            "N":         PreviousResult,
            // selection
            "<Space>":   Select,
            "<C-Space>": InvertSelection,
            // actions
            "<CR>":      Confirm,
            "<C-c>":     Close,
            "<Esc>":     Close,
            "i":         FocusInput, // focus textbox if any is on screen
            "D":         Delete,
            "a":         Add,
            "A":         AddAll,
            "r":         Rename,
            "I":         ShowInfo,
            "Z":         ContextMenu(),
            "<C-s>a":    Save(kind: Modal(all: true)),
            "<C-s>s":    Save(kind: Modal(all: false)),
            // rating
            "+":         Rate(kind: Like(), current: false),
            "#":         Rate(kind: Neutral(), current: false),
            "-":         Rate(kind: Dislike(), current: false),
        },
        queue: {
            "<CR>":    Play,
            "C":       JumpToCurrent,
            "d":       Delete,
            "D":       DeleteAll,
            "X":       Shuffle,
            /*
            "<C-s>":   Save(kind: Modal(all: true)),
            "a":       AddToPlaylist,
            "I":       ShowInfo,
            */
        },
    ),
    search: (
        case_sensitive: false,
        ignore_diacritics: true,
        search_button: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "title",       label: "Title"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    artists: (
        album_display_mode: NameOnly,
        album_sort_by: Name,
        album_date_tags: [Date], //default
    ),
    tabs: [
        (
            name: "[home]",
            pane: Split(
                direction: Vertical,
                panes: [
                    (size: "100%", pane: Pane(Queue)),
                    //(size: "6", borders: "TOP", pane: Pane(Lyrics)),
                ],
            ),
        ),
        (
            name: "[playlists]",
            pane: Pane(Playlists),
        ),
        (
            name: "[browse]",
            pane: Pane(Directories),
        ),
        (
            name: "[artists]",
            pane: Pane(Artists),
        ),
        (
            name: "[search]",
            pane: Pane(Search),
        ),
    ],
)

